*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     height: 100vh;
     color: dimgray;
 }

 td a, table{
     font-size:small;
 }
.wrappa{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    height: 100%;
    position: relative;

}
header{
    background-color: #7ed2d8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2;
}
 header ul{
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     align-self: center;
 }
 header ul li{
    padding: 10px 20px;
    list-style-type: none;
    text-decoration: none;
}
 header ul li a{
    color: inherit;
 }
 header a:hover{
    color: inherit;
    color:#ccc;
    text-decoration: none;
 }
 section{
     margin-top: 80px;
     display: flex;
 }
 aside{
     z-index:2;
     flex: 1;
     background-color:#66d699 ;
     position: fixed;
     top:55px;
     height: 100vh;
     color: white;
     padding-top: 20px;
     padding-right: 30px;
     padding-left:15px;

 }
 aside ul{
    padding-top: 50px;
 }
 aside ul li{
    padding:15px 25px 15px 25px;
    text-decoration: none;
    border-top:.2px solid #b5f5b5;
    list-style-type: none;
    color: inherit;
 }
 aside ul li a{
    text-decoration: none;
    list-style-type: none;
    color: inherit;
 }
 .formarea{
     margin-top: 110px !important;
 }

 aside ul li a:hover{
    text-decoration: none;
    list-style-type: none;
 }
 aside .user{
     width: 80px;
     height: 80px;
     margin: auto;
     border-radius: 50%; 
 }

